.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.header {
    margin: 15px 0 0 0;

}
.header__top {
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;



}
.burger{
    display: none;
}    
.burger__text{

}
.header-top__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header-top__btn {
    border: 2px solid #e74c3c;
    font-family: Geometria-ExtaBlack;
    text-transform: uppercase;
    // font-size: 12px;
    font-size: clamp(10px, 3vw, 12px);
    color: #000;
    background-color: transparent;
    transition: all .25s linear;
    text-align: center;
    border-radius: 12px;
    padding: 8px 15px;
}
.btn-mobile {
    display: none;
}


.header-top__logo {
    display: block;
    img{
        // max-width: 285px;
        width: clamp(95px, 30vw, 285px);
    }

}
.social {
    display: flex;
    .social__link {
        img{
            width: 32px;
        }
    }
}
.header-top__location {
}
.city {
    font-size: 17px;
    font-weight: 600;

}
.location {
    font-size: 18px;
    font-weight: 400;
}

.street {
}
.header-top__contacts {
}
.contacts {
}
.telephone {
}
.header-top__social {
}

___________



____________

.button {
}
.btn_zakaz__sidel {
}
.header__bottom {
}

.second {
}

__________________________________
.header-bottom {

}
.menu { 
    margin: 30px 0 0 0;
}
.menu li{
    position: relative;
}

.menu__list {
    display: flex;
    // justify-content: space-between;
    justify-content: start;
    gap: 20px;

    flex-wrap: wrap;
}

.menu__link {
    color: #000;
    font-size: 18px;
}
.menu a.parent{
    margin: 0 30px 0 0;
}
.menu__list>li{
    // margin: 0px 100px 0 0;
}



.sub-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    min-width: 200px;
    background-color: green;
    border-radius: 5px;
}



.sub-menu__list .active {
    display: block;

}




.sub-menu__link {
    color: #000;
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;

}





.sub-sub-menu__list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    padding: 0 0 0 5px;
    border-radius: 5px;

    background-color: rgb(0, 182, 0);

}
.sub-sub-menu__list>li{


}
.sub-sub-menu__link {
    color: #000;
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;

}


.arrow {
    position: absolute;
    right: 0;
    top: 10px;
    width: 0px;
    height: 0px;
    border-top: 10px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    z-index: 20;
}
.arrow.active{
    transform: rotate(180deg);
}
.menu__arrow {
}
.sub-menu__arrow{
    border-top: 10px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    right: 10px;
    z-index: 20;
}



.sub-menu__list.open{
    display: block;
}
.sub-sub-menu__list.open{
    display: block;
}

@media (min-width:1023px) {
    .menu__list>li:hover .sub-menu__list{
        display: block;
    }
    .sub-menu__list>li:hover .sub-sub-menu__list {
        display: block;
    }
}


@media (max-width:768px) {
    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .sub-menu__list{
        position: relative;
        left: 0;
        top: 0;
    }
    .sub-sub-menu__list{
        position: relative;
        left: 0;
        top: 0;
    }
}

                                     

@media (max-width:768px){
    .btn-mobile {
        display: block;
    }
    .btn-pc{
        display: none;
    }
    .header-top__btns{
        flex-direction: row;
    }

    .burger{
        display: block;
        background-color: #547529;
        border-radius: 10px;
        width: 37px;
        height: 42px;
        z-index: 3;
        position: relative;
    } 
    .burger__text{
        position: absolute;
        bottom: 1px;
        right: 15%;
        z-index: 10;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 400;
        font-family: "Geometria", serif;
    }
    
    .burger.active:before{
        transform: rotate(45deg);
        top: 12.5px;
    }
    .burger.active::after{
        transform: rotate(-45deg);
        bottom: 26px;
    }
    .burger.active span{
        transform: scale(0);
        color: #828282;
    }
    .burger span{
        position: absolute;
        background-color: #fff;
        left: 3.5px;
        width: 29px;
        height: 3px;
        top: 30%;
        transition: all 0.3s ease 0s;
        z-index: 5;
    }
    .burger::before,
    .burger::after{
        content: " ";
        position: absolute;
        width: 29px;
        background-color: #fff;
        height: 3px;
        left: 3.5px;
        z-index: 5;
        transition: all 0.3s ease 0s;
        z-index: 5;
    }
    .burger::before{
        top: 6px;
    }
    .burger::after{
        bottom: 19px;
    }
    .menu{
        position: fixed;
        overflow: auto;
        top: -120%;
        left: 0;
        padding: 0 20px;
        width: 100%;
        height: 100%;
        align-items: center;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        // background-color: transparent;
    }
    .menu.active{
        top: 290px;
    }



}
.hide-menu{
    display: flex;
    align-items: center;
    // gap: 50px;
    gap: clamp(10px, 1.8vw, 60px);
}
@media (max-width:768px) {
    .hide-menu{
        display: block;
        position: fixed;
        overflow: auto;
        top: -160%;
        left: 0;
        padding: 0 20px;
        // width: 100%;
        // height: 100%;
        align-items: center;
        transition: all 0.3s ease 0s;
        // background-color: #fff;
        background-color: transparent;
        >div{
            padding-bottom: 10px;
        }
    }
    .hide-menu.show{
        top: 100px;
    }
}